.col-md-6
  .panel.panel-defautlt.calendar
    .panel-heading
      Availability Calendar
    .panel-body
      #calendar.set_user_availability_calendar

.col-md-3
  %h3 Date Available
  = render 'availability_form'