
<div id="template2Wrapper">
	<script id='template2' type='text/ractive'>
	<form id="private_msg">
      <textarea class="form-control counted" id="pMessage" value='{{content}}' placeholder='Share something...' rows="4" style="margin-bottom:10px;" required></textarea>
      <h6 class="pull-right" id="counter">320 characters remaining</h6>
      <button class="btn btn-info" id="private_message" type="submit">Post New </button>
    </form>
	 </script>
</div>